RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)/(.*)$ /public/index.php?theme=$1&action=$2 [L]
RewriteRule ^$ /public/index.php [L]
RewriteRule ^([a-zA-Z0-9\-]+)$ /public/index.php?theme=$1 [L]